.NavbarItem{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox{
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 8px;
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.searchBox input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0,0.5);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    
}
.searchBox .searchIcon{
  position: absolute;
  top: 0;
  left: 0;
  color: #848484;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}